<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:23:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSmokeTest.afterClass()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:53</td>   <td>-15158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSmokeTest.afterMethod()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:53</td>   <td>-14308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSmokeTest.afterMethod()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:56</td>   <td>-11892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSmokeTest.afterMethod()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:23:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSmokeTest.afterMethod()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:23:09</td>   <td>774</td> <td title="&lt;&lt;LoginSmokeTest.afterSuite()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:23:08</td>   <td>700</td> <td>&nbsp;</td><td title="&lt;&lt;LoginSmokeTest.afterTest()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:56</td>   <td>-11891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginSmokeTest.basicLoginTest()[pri:4, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">basicLoginTest</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:31</td>   <td>-36981</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSmokeTest.beforeClass()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:52</td>   <td>-16128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSmokeTest.beforeMethod()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:53</td>   <td>-15155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSmokeTest.beforeMethod()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:53</td>   <td>-14308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSmokeTest.beforeMethod()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:56</td>   <td>-11891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSmokeTest.beforeMethod()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:31</td>   <td>-37027</td> <td title="&gt;&gt;LoginSmokeTest.beforeSuite()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:31</td>   <td>-36993</td> <td>&nbsp;</td><td title="&gt;&gt;LoginSmokeTest.beforeTest()[pri:0, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:53</td>   <td>-15155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginSmokeTest.incorrectUserNameTest()[pri:2, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">incorrectUserNameTest</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:53</td>   <td>-14308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginSmokeTest.spacedPasswordTest()[pri:3, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">spacedPasswordTest</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>17/10/28 15:22:52</td>   <td>-16128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginSmokeTest.spacedUserNameTest()[pri:1, instance:com.revature.testng.LoginSmokeTest@343f4d3d]">spacedUserNameTest</td> 
  <td>main@1776957250</td>   <td></td> </tr>
</table>
